/* Global */
#notice-tip { position: absolute; }
.jBox-wrapper { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.jBox-title, .jBox-content, .jBox-container { position: relative; word-break: break-word; }
.jBox-container { background: #fff; }
.jBox-content { padding: 8px 10px; overflow: auto; -webkit-transition: opacity .15s; transition: opacity .15s; }

/* jBox Notice */
.jBox-Notice { -webkit-transition: margin .2s; transition: margin .2s; margin-top: 5px; position: fixed;}
.jBox-Notice .jBox-container { border-radius: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, .2); color: #fff; text-shadow: 0 -1px 1px #000; background: #333; background-image: linear-gradient(to bottom, #444, #222); }
.jBox-Notice .jBox-content { border-radius: 3px; padding: 12px 20px; }
.jBox-Notice .jBox-title { padding: 8px 20px 0; font-weight: bold; }
.jBox-hasTitle.jBox-Notice .jBox-content { padding-top: 5px; }
.jBox-Notice-color .jBox-container { text-shadow: 0 -1px 1px rgba(0, 0, 0, .3); }
.jBox-Notice-gray .jBox-container { color: #666; text-shadow: 0 1px 1px #fff; background: #f4f4f4; background-image: linear-gradient(to bottom, #fafafa, #f0f0f0); }
.jBox-Notice-red .jBox-container { background: #b02222; background-image: linear-gradient(to bottom, #ee2222, #b02222); }
.jBox-Notice-green .jBox-container { background: #70a800; background-image: linear-gradient(to bottom, #95cc2a, #70a800); }
.jBox-Notice-blue .jBox-container { background: #2b91d9; background-image: linear-gradient(to bottom, #5abaff, #2b91d9); }
.jBox-Notice-yellow .jBox-container { color: #744700; text-shadow: 0 1px 1px rgba(255, 255, 255, .6); background: #ffb11f; background-image: linear-gradient(to bottom, #ffd665, #ffb11f); }
.animation { 
animation: flipInX 1s .5s ease both; -webkit-animation: flipInX 1s .2s ease both; }
@-webkit-keyframes flipInX {
	0% { -webkit-transform: perspective(400px) rotateX(90deg); opacity: 0 }
	40% { -webkit-transform: perspective(400px) rotateX(-10deg) }
	70% { -webkit-transform: perspective(400px) rotateX(10deg) }
	100% { -webkit-transform: perspective(400px) rotateX(0deg); opacity: 1 }
}
@-moz-keyframes flipInX {
	0% { -moz-transform: perspective(400px) rotateX(90deg); opacity: 0 }
	40% { -moz-transform: perspective(400px) rotateX(-10deg) }
	70% { -moz-transform: perspective(400px) rotateX(10deg) }
	100% { -moz-transform: perspective(400px) rotateX(0deg); opacity: 1 }
}
.animation-close{
	-webkit-animation:flipOutX 1s .5s ease both;
	-moz-animation:flipOutX 1s .5s ease both;
	/*display: none;*/
}
@-webkit-keyframes flipOutX{
0%{
	-webkit-transform:perspective(400px) rotateX(0deg);
	opacity:1;
}
100%{
	-webkit-transform:perspective(400px) rotateX(90deg);
	opacity:0;
}
}
@-moz-keyframes flipOutX{
0%{
	-moz-transform:perspective(400px) rotateX(0deg);
	opacity:1;
}
100%{
	-moz-transform:perspective(400px) rotateX(90deg);
	opacity:0;
}
}