/* Global */
.jBox-wrapper { text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.jBox-title, .jBox-content, .jBox-container { position: relative; word-break: break-word; }
.jBox-container { background: #fff; }
.jBox-content { padding: 8px 10px; overflow: auto; -webkit-transition: opacity .15s; transition: opacity .15s; }

/* jBox Notice */
.jBox-Notice { -webkit-transition: margin .2s; transition: margin .2s; margin-top: 5px; position: fixed;}
.jBox-Notice .jBox-container { border-radius: 3px; box-shadow: 0 0 3px rgba(0, 0, 0, .2); color: #fff; text-shadow: 0 -1px 1px #000; background: #333; background-image: linear-gradient(to bottom, #444, #222); }
.jBox-Notice .jBox-content { border-radius: 3px; padding: 12px 20px; }
.jBox-Notice-color .jBox-container { text-shadow: 0 -1px 1px rgba(0, 0, 0, .3); }
.jBox-Notice-gray .jBox-container { color: #666; text-shadow: 0 1px 1px #fff; background: #f4f4f4; background-image: linear-gradient(to bottom, #fafafa, #f0f0f0); }
.jBox-Notice-red .jBox-container { background: #b02222; background-image: linear-gradient(to bottom, #ee2222, #b02222); }
.jBox-Notice-green .jBox-container { background: #70a800; background-image: linear-gradient(to bottom, #95cc2a, #70a800); }
.jBox-Notice-blue .jBox-container { background: #2b91d9; background-image: linear-gradient(to bottom, #5abaff, #2b91d9); }
.jBox-Notice-yellow .jBox-container { color: #744700; text-shadow: 0 1px 1px rgba(255, 255, 255, .6); background: #ffb11f; background-image: linear-gradient(to bottom, #ffd665, #ffb11f); }
.animation { 
animation: flipInX 1s .5s ease both; -webkit-animation: flipInX 1s .2s ease both; }
@-webkit-keyframes flipInX {
	0% { -webkit-transform: perspective(400px) rotateX(90deg); opacity: 0 }
	40% { -webkit-transform: perspective(400px) rotateX(-10deg) }
	70% { -webkit-transform: perspective(400px) rotateX(10deg) }
	100% { -webkit-transform: perspective(400px) rotateX(0deg); opacity: 1 }
}
@-moz-keyframes flipInX {
	0% { -moz-transform: perspective(400px) rotateX(90deg); opacity: 0 }
	40% { -moz-transform: perspective(400px) rotateX(-10deg) }
	70% { -moz-transform: perspective(400px) rotateX(10deg) }
	100% { -moz-transform: perspective(400px) rotateX(0deg); opacity: 1 }
}
.animation-close{
	-webkit-animation:flipOutX .5s .5s ease both;
	-moz-animation:flipOutX .5s .5s ease both;
	/*display: none;*/
}
@-webkit-keyframes flipOutX{
0%{
	-webkit-transform:perspective(400px) rotateX(0deg);
	opacity:1;
}
100%{
	-webkit-transform:perspective(400px) rotateX(90deg);
	opacity:0;
}
}
@-moz-keyframes flipOutX{
0%{
	-moz-transform:perspective(400px) rotateX(0deg);
	opacity:1;
}
100%{
	-moz-transform:perspective(400px) rotateX(90deg);
	opacity:0;
}
}
.animationright{
	-webkit-animation:tada 1s .2s ease both;
	-moz-animation:tada 1s .2s ease both;
}
@-webkit-keyframes tada{
	0%{-webkit-transform:scale(0)}
	10%,20%{-webkit-transform:rotate(-3deg)}
	30%,50%,70%,90%{-webkit-transform:scale(1.05)  rotate(3deg)}
	40%,60%,80%{-webkit-transform:scale(.9) rotate(-3deg)}
	100%{-webkit-transform:scale(1) rotate(0)}
}
@-moz-keyframes tada{
	0%{-moz-transform:scale(0)}
	10%,20%{-moz-transform:rotate(-3deg)}
	30%,50%,70%,90%{-moz-transform:scale(1.05)  rotate(3deg)}
	40%,60%,80%{-moz-transform:scale(.9) rotate(-3deg)}
	100%{-moz-transform:scale(1) rotate(0)}
}

.animationright-close{
-webkit-animation:bounceOut 1s .2s ease both;
-moz-animation:bounceOut 1s .2s ease both;}
@-webkit-keyframes bounceOut{
	0%{-webkit-transform:scale(1)}
	25%{-webkit-transform:scale(.95)}
	50%{opacity:1;
	-webkit-transform:scale(1.1)}
	100%{opacity:0;
	-webkit-transform:scale(.3)}
}
@-moz-keyframes bounceOut{
	0%{-moz-transform:scale(1)}
	25%{-moz-transform:scale(.95)}
	50%{opacity:1;
	-moz-transform:scale(1.1)}
	100%{opacity:0;
	-moz-transform:scale(.3)}
}

.jBox-container{padding: 5px;}


.animationleft{
-webkit-animation:fadeInUpBig .5s .1s ease both;
-moz-animation:fadeInUpBig .5s .1s ease both;}
@-webkit-keyframes fadeInUpBig{
	0%{opacity:0;
	-webkit-transform:translateY(2000px)}
	100%{opacity:1;
	-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
	0%{opacity:0;
	-moz-transform:translateY(2000px)}
	100%{opacity:1;
	-moz-transform:translateY(0)}
}
.animationleft-close{
-webkit-animation:fadeOutLeftBig 1s .2s ease both;
-moz-animation:fadeOutLeftBig 1s .2s ease both;}
@-webkit-keyframes fadeOutLeftBig{
0%{opacity:1;
-webkit-transform:translateX(0)}
100%{opacity:0;
-webkit-transform:translateX(-2000px)}
}
@-moz-keyframes fadeOutLeftBig{
0%{opacity:1;
-moz-transform:translateX(0)}
100%{opacity:0;
-moz-transform:translateX(-2000px)}
}


/* jBox: Notice */

.jBox-NoticeBorder .jBox-container {
	border-radius: 6px;
}

.jBox-NoticeBorder .jBox-content,
.jBox-NoticeBorder .jBox-title {
	padding-left: 26px;
}

.jBox-NoticeBorder.jBox-Notice-color .jBox-container {
	color: #fff;
	text-shadow: 0 -1px 0 #000;
	background: rgba(0, 0, 0, .92);
}

.jBox-NoticeBorder.jBox-Notice-color .jBox-container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 8px;
	border-radius: 5px 0 0 5px;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .5) 75%, transparent 75%, transparent);
	background-size: 18px 18px;
}

.jBox-NoticeBorder.jBox-Notice-red .jBox-container:after {
	background-color: #ee0000;
}

.jBox-NoticeBorder.jBox-Notice-green .jBox-container:after {
	background-color: #95cc2a;
}

.jBox-NoticeBorder.jBox-Notice-blue .jBox-container:after {
	background-color: #4cb4ff;
}

.jBox-NoticeBorder.jBox-Notice-yellow .jBox-container:after {
	background-color: #ffba00;
}